@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --color-one: #15F5BA;
  --color-two: #836FFF;
  --color-three: #211951;
}


body {
  color: rgb(var(--foreground-rgb));
  background: #F0F3FF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


li{
  font-size: 13px;
  letter-spacing: 9;
}
.shuffle_btn{
  background-color: var(--color-three);
  color: #F0F3FF;
  height: 5em;
  width: 90%;
}