@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --color-one: #15F5BA;
  --color-two: #836FFF;
  --color-three: #211951;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;

  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F0F3FF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


li{
  font-size: 13px;
  letter-spacing: 9;
}